body {
  background: beige;
}

input {
  height: 20px;
  width: 220px;
}

.too-small {
  color: purple;
}

.too-large {
  color: blue;
}

.correct-guess {
  color: green;
}

.hint-message-wrapper span {
  font-weight: 16px;
}
